<h1>Login!</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>
    <div>
        User Name : <input type="text" placeholder="Enter a Name" name = "username" [(ngModel)]="username">
        Password : <input type="password" placeholder="Enter a Password" name = "password" [(ngModel)]="password">
        <br><br>

        <!-- User Name : {{username}} -->

        <button (click)=handleLogin() class="btn btn-success">Login</button>
    </div>
</div>